[Desktop Entry]
Name=SweetGlass
Comment=SweetGlass Round Dark Translucent Window Decoration for Plasma 6
X-KDE-PluginInfo-Author=wallydev
X-KDE-PluginInfo-Name=SweetGlass
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=KWin/Aurorae
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true