[Desktop Entry]
Name=SweetGlass
Comment=SweetGlass rounded theme for Plasma 6 with glass transparency and blur
X-KDE-PluginInfo-Author=wallydev
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=SweetGlass
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-APIVersion=2