[SddmGreeterTheme]
Name=SweetGlass
Description=SweetGlass SDDM theme for Plasma 6
Author=wallydev
License=GPL-2.0+
Type=sddm-theme
Version=1.0
Website=https://github.com/wallydevgg/SweetGlass
Screenshot=Preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=
Theme-Id=SweetGlass
Theme-API=2.0
QtVersion=6